<!doctype html>
<html><head><meta charset='utf-8'><title>Separated Templates</title></head><body>
<h1>Separated Template Files</h1>
<ul>
<li><a href='sandbox:/mnt/data/separated_templates/add_airplane.html' download>add_airplane.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/create_flight.html' download>create_flight.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/customer_home.html' download>customer_home.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/flight_customers.html' download>flight_customers.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/my_flights.html' download>my_flights.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/purchase_ticket.html' download>purchase_ticket.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/rate_flight.html' download>rate_flight.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/staff_flights.html' download>staff_flights.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/staff_home.html' download>staff_home.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/view_airplanes.html' download>view_airplanes.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/view_ratings.html' download>view_ratings.html</a></li>
<li><a href='sandbox:/mnt/data/separated_templates/view_reports.html' download>view_reports.html</a></li>
</ul>
</body></html>